    <div class="footer-bottom py-7">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="d-lg-flex align-items-center">
          <h4 class="text-black font-xl me-lg-4 font-22-sm">EXHIBINECTION</h1>
          <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="d-lg-flex d-none">
            <li class=""><a href="#">Sign in</a></li>
            <li class="ps-lg-8"><a href="#">Sign up</a></li>
        </ul>
        </div>
      </div>