<div class="footer">
    <div class="footer-banner d-flex align-items-end pb-9">
        <div class="container">
          <h3 class="title text-white font-xxl font-xl-sm mb-lg-3 mb-5">想收到最新消息嗎？<br>快訂閱我們!</h3>
  
          <form action="index.html" class="d-flex">
            <input class="email"  type="email" name="email" placeholder="輸入您的電子信箱" >
            <input type="button" class="subscribe btn btn-secondary" value="訂閱">
          </form>
        </div>
    </div>
    <div class="footer-bottom py-lg-7">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="d-lg-flex align-items-center">
          <h4 class="text-black font-xl me-lg-4 font-22-sm">EXHIBINECTION</h1>
          <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="d-lg-flex d-none">
            <li class=""><a href="#">Sign in</a></li>
            <li class="ps-lg-8"><a href="#">Sign up</a></li>
        </ul>
        </div>
      </div>
  </div>