<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto?query=roboto">
    <link rel="stylesheet" href="https://www.google.com/get/noto/">
    <link rel="stylesheet" href="./assets/style/all.css">
</head>
  <body>
    <header>
      <%- include('head') %>
    </header>
    
  
  <%- contents %>

<footer>
  <%if (title !="Exibition-結帳") { %>
    <div class="footer-banner d-flex align-items-end pb-9">
      <div class="container">
        <h3 class="title text-white font-xxl font-xl-sm mb-lg-3 mb-5">想收到最新消息嗎？<br>快訂閱我們!</h3>

        <form action="index.html" class="d-flex">
          <input class="email"  type="email" name="email" placeholder="輸入您的電子信箱" >
          <input type="button" class="subscribe btn btn-secondary" value="訂閱">
        </form>
      </div>
  </div>
  <% } %>
  <%- include('footer') %>
</footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>