@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./helpers/reset";
@import"./helpers/base";
@import"./helpers/mixin";
@import"./helpers/utilities";

@import "./layout/layout.scss";

@import './pages/index.scss';
@import "./pages/design.scss";
@import "./pages/details.scss";
@import "./pages/checkout.scss";