.p-fixed{
    position: fixed;
    width: 100%;
}
.z-index{
    z-index: 100;
}

.w100{
    width: 100%;
}

//文字對齊
.text-center{
    text-align: center;
}
//font-size
.font-s{
    font-size: $font-size-s; //12px
}
.font-lg{
    font-size: $font-size-lg; //20px
}
.font-xm{
    font-size: $font-size-xm; //28px
}
.font-xl{
    font-size: $font-size-xl;//24px
}
.font-xxl{
    font-size: $font-size-xxl; //32px
}
.font-36{
    font-size: $font-size-36; //36px
}
.font-40{
    font-size: $font-size-40; //40px
}

@include phone{
    .font-22-sm{
        font-size: $font-size-md-lg; //22px
    }
    .font-d-sm{
        font-size :$font-size-base; //16px
    }
    .font-xl-sm{
        font-size: $font-size-xl;//24px
    }
    .font-xm-sm{
        font-size: $font-size-xm; //28px
    }
    .font-14-sm{
        font-size: 14px;
    }
    
    
}
  
// 文字粗體
.font-bold{
    font-weight: bold;
}
.font-light{
    font-weight: 300;
}
.font-middle{
    font-weight: 500;
}

//border
.border-bottom{
    border-bottom: 1px solid $gray-70 !important;
}
.border-bottom-second{
    border-bottom: 1px solid $secondary !important;
}
.border-top{
    border-top: 1px solid $gray-70 !important;
}
.border-left{
    border-left: 1px solid $white !important;
}
.border-left-gray{
    border-left: 1px solid $gray-70 !important;
}

//字型

.font-f-second{
    font-family: $font-family-second;//noto sans
}

.p-relative{
    position: relative;
}
.p-relative{
    position: relative;
}